@import "tailwindcss";

@font-face {
  font-family: 'Exo 2 Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/exo-2/files/exo-2-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

body {
  font-family: 'Exo 2 Variable', sans-serif;
  @apply bg-zinc-900 text-zinc-100 dark:bg-zinc-900;
}

.welcome__container {
  @apply h-screen w-screen flex items-center justify-center flex-col;
}

.welcome__banner {
  @apply h-20 w-20 mb-4;
}

.welcome__title {
  @apply text-2xl font-semibold;
}

.welcome__desc {
  @apply text-sm font-medium text-zinc-400;
}

/* EDITOR PAGE */
.editor__root {
  @apply grid grid-cols-16 grid-rows-[3rem_1fr] relative h-screen w-screen;
}
.editor__root > * {
  @apply border-zinc-700;
}

.editor__header {
  @apply border-b col-span-16 row-span-1;
}
.editor__dom {
  @apply border-r col-span-2 row-span-1;
}
.editor__display {
  @apply col-span-12 bg-zinc-800;
}
.editor__styles {
  @apply border-l col-span-2 row-span-1;
}